:root {
    font-size: 62.5%;
    list-style: none;
    --bege: #FBEED4;
    --bege_escuro:#F7DBA7;
    --white:rgb(255, 255, 255);
    --azul:#003459;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

/*=================================
            <!--Body-->
=================================*/

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: var(--white);
    font-family: 'Poppins', sans-serif;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto; /*centraliza*/
}

body::-webkit-scrollbar {
    width: 12px;
}
  
body::-webkit-scrollbar-track {
    background: var(--bege_escuro);
}
  
body::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 20px;
    border: 3px solid var(--bege_escuro);
}

/*=================================
        <!--Página inicial-->
=================================*/

.inicial_page{
    background: var(--bege);
    max-width: 1440px;
    width: 100%;
    height: 69.5rem;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 4rem;
    border-bottom-right-radius: 4rem;
}

/*=================================
        <!--Header-->
=================================*/

.inicial_page header{
    top: 0;
    position: absolute;
    display: flex;
    padding: 3rem 0;
    width: 1140px;
    align-items: center;
    justify-content: center;
    gap: 1.4rem;
    z-index: 100;
}

.inicial_page header .logo_monito{
    left: 0;
    position: absolute;
    margin-left: 4%;
    z-index: 6;
}

.inicial_page header .logo_monito::before{
    background: url(image/Rectangle\ 9.svg);
    content: '';
    position: absolute;
    height: 635px;
    width: 635px;
    background-repeat: no-repeat;
    margin-top: -30px;
    margin-left: -19.4rem;
    z-index: -1;
}

.inicial_page header .search_bar{
    width: 28rem;
    height: 4.4rem;
    background: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4.6rem;
    z-index: 100;
}

.inicial_page header .search_bar:hover{
    transform: scale(1.1);
}

.search_bar span .search_icon{
    width: 2rem;
    height: 2rem;
    color: gray;
    padding: 1.5rem;
}

.search_bar input{
    font-size: 1.70rem;
    width: 100%;
    height: 100%;
    border: none;
    border-top-right-radius: 4.6rem;
    border-bottom-right-radius: 4.6rem;
    font-family: 'Poppins', sans-serif;
}

.inicial_page header button{
    background: var(--azul);
    font-family: 'Poppins', sans-serif;
    color: var(--white);
    width: 20.3rem;
    height: 4.4rem;
    border-radius: 5.7rem;
    font-size: 1.6rem;
    border: none;
    cursor: pointer;
}

.inicial_page header button:hover{
    transform: scale(1.1);
        background: linear-gradient(359deg, #f7dba7, #556c89, #003459);
        background-size: 600% 600%;
    
        -webkit-animation: AnimationName 5s ease infinite;
        -moz-animation: AnimationName 5s ease infinite;
        animation: AnimationName 5s ease infinite;
    }
    
    @-webkit-keyframes AnimationName {
        0%{background-position:48% 0%}
        50%{background-position:53% 100%}
        100%{background-position:48% 0%}
    }
    @-moz-keyframes AnimationName {
        0%{background-position:48% 0%}
        50%{background-position:53% 100%}
        100%{background-position:48% 0%}
    }
    @keyframes AnimationName {
        0%{background-position:48% 0%}
        50%{background-position:53% 100%}
        100%{background-position:48% 0%}
    }


.inicial_page picture:nth-child(2){
    max-height: 69.5rem;
    overflow: hidden;
    position: absolute;
    width: 120.7rem;
    display: flex;
}

.inicial_page .retangulo_bege{
    width: 73.5rem;
    margin-top: 10rem;
    height: 73.5rem;
    margin-left: auto;
    z-index: 1;
}

.inicial_page picture:nth-child(2)::before{
    background-image: url(image/Rectangle\ 1.svg);
    height: 635px;
    content: '';
    background-repeat: no-repeat;
    overflow: hidden;
    position: absolute;
    width: calc(1440px - 298px);
    display: flex;
    margin-top: 20rem;
    background-position:right;
    z-index: 1;
}

.inicial_page picture:nth-child(2)::after{
    background-image: url(image/catedog-removebg-preview.png);
    content: '';
    max-width: 902px;
    max-height: 1049px;
    height: 100%;
    width: 100%;
    z-index: 1000;
    position: absolute;
    background-repeat: no-repeat;
    background-position: right;
    right: 0;
    margin-right: 7rem;
    background-size: 500px;
    z-index: 2;
}

.retangulo_8{
    position: absolute;
    height: 69.5rem;    
    width: 1204px; 
    overflow: hidden;
    margin-right: 30rem;
}

.retangulo_8 img{
    margin-top: 61rem;
}

/*=================================
    <!--Navegação (Menu Toggle)-->
=================================*/

.navigation{
    position: fixed;
    inset: 4rem 0 4rem 2rem;
    background: rgba(255,255,255,0.4);
    backdrop-filter: blur(10.054px);
    width: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    border-radius: 15px;
    z-index: 190;
    height: 85vh;
}

.navigation.active{
    width: 28rem;
}

.menu_toggle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 4rem;
    padding: 0 1.5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}

.menu_toggle::before{
    content: '';
    position: absolute;
    width: 3rem;
    height: 0.2rem;
    background: var(--white);
    transform: translateY(-0.8rem);
    transition: 0.5s;
}

.navigation.active .menu_toggle::before{
    transform: translateY(0) rotate(45deg);
}

.menu_toggle::after{
    content: '';
    position: absolute;
    width: 3rem;
    height: 0.2rem;
    background: var(--white);
    transform: translateY(8px);
    transition: 0.5s;
    box-shadow: 0 -0.8rem 0 var(--white);
}

.navigation.active .menu_toggle::after{
    transform: translateY(0) rotate(-45deg);
    box-shadow: 0 0 0 var(--white);
}   

.navigation ul{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.navigation ul li{
    list-style: none;
    position: relative;
    width: 100%;
    height: 6.6rem;
    border-radius: 1.2rem;
    border: 4px solid transparent;
    transition: 0.5s;
}

.navigation ul li.active{
    transform: translateX(30px); 
    background:rgba(255,255,255,0.4);
    backdrop-filter: blur(10.054px);
}

.navigation ul li::before{
    content: '';
    position: absolute;
    top: -28px;
    right: 22px;
    width: 20px;
    transform: scale(0);
    transform-origin: bottom right;
    transition: 0.5s;
}

.navigation ul li.active::before{
    right: 22px;
    transform: scale(1);
}

.navigation ul li::after{
    content: '';
    position: absolute;
    bottom: -28px;
    top: -28px;
    right: 22px;
    width: 20px;
    transform: scale(0);
    transform-origin: bottom right;
    transition: 0.5s;
}

.navigation ul li.active::after{
    right: 22px;
    transform: scale(1);
}

.navigation ul li a{
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    text-align: center;
    text-decoration: none;
    z-index: 1000;
}

.navigation ul li a .icon{
    position: relative;
    display: block;
    min-width: 5rem;
    height: 5rem;
    border-radius: 10px;
    font-size: 2rem;
    line-height: 4.8rem;
    border: 5px solid transparent;
    transition: 0.5s;
    color: var(--azul);
    margin-left: 1px;
}

.navigation ul li.active a .icon{
    background: var(--clr);
    color: white;
}

.navigation ul li a .icon::before{
    content: '';
    position: absolute;
    top: 12px;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--clr);
    filter: blur(8px);
    opacity: 0;
    transition: 0.5s;
}

.navigation ul li.active a .icon::before{
    opacity: 0.5;
}

.navigation ul li a .icon::after{
    content: '';
    position: absolute;
    top: 10px;
    left: -60px;
    width: 15px;
    height: 15px;
    background: var(--clr);
    border: 8px solid var(rgb(255, 255, 255));
    border-radius:50%;
}

.navigation ul li a .text{
    position: relative;
    padding: 0 15px;
    color: var(--azul);
    display: flex;
    align-items: center;
    height: 60px;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
    font-size: 1.5rem;
}

.navigation.active ul li a .text{
    visibility: visible;
    opacity: 1;
    color: var(--azul);
}

/*=================================
            <!--Main-->
=================================*/

main{
    max-width: 50rem;
    width: 100%;
    align-content: flex-start;
    z-index: 180;
}

main .texts{
    position: absolute;
    top: 0;
    margin-top: 20rem;
    margin-left: -23rem;
    width: 1000px;
}

main .texts h1{
    font-size: 6rem;
    width: 100%;
    line-height: 8rem;
    background-image: linear-gradient(to right, #003459, steelblue, rgb(49, 162, 150));
    color: black;
    background-clip: text;
    -webkit-background-clip: text;
    transition: 0.7s ease-in;
    transition-delay: 0.1s;
    -webkit-text-fill-color: transparent;
}

main .texts::before{
    background: url(image/Rectangle\ 3.svg);
    content: '';
    background-repeat: no-repeat;
    height: 7.91rem;
    width: 7.91rem;
    position: absolute;
    z-index: -3;
}

main .texts h2{
    font-size: 4.6rem;
    background-image: linear-gradient(to right, #003459, steelblue, rgb(49, 162, 150));
    color: black;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    padding-bottom: 2.4rem;
    transition: 0.7s ease-in;
    transition-delay: 0.1s;
}

main .texts p, .about_texts p{
    font-size: 1.3rem;
    padding-bottom: 3.4rem;
    color: #cfcfcf;
}

.btns-main button, .about_cad button{
    width: 16rem;
    height: 4.8rem;
    border-radius: 5.7rem;
    font-family: 'Poppins', sans-serif;
    z-index: 1000;
}

.btns-main button:hover, .about_cad button:hover{
    cursor: pointer;
}

.btns-main button:nth-child(1):hover, .about_cad button:nth-child(1):hover, .footer_email button:hover{
    transform: scale(1.1);
    background: linear-gradient(270deg, #f60e4d, #0ef6c0, #54d413);
    background-size: 600% 600%;
    -webkit-animation: AnimationName 8s ease infinite;
    -moz-animation: AnimationName 8s ease infinite;
    animation: AnimationName 8s ease infinite;
    border: none;
}

.btns-main button:nth-child(2):hover, .about_cad button:nth-child(2):hover{
    transform: scale(1.1);
    background:#f60e4d;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.btns-main button:nth-child(1){
    margin-right: 3rem;
    border: 1px solid var(--azul);
    color: var(--azul);
    background: transparent;
}

.btns-main button:nth-child(1) ion-icon, .about_cad button:nth-child(1) ion-icon{
    width: 2rem;
    height: 2rem;
    position: absolute;
    padding-left: 7px;
}

.btns-main button:nth-child(2){
    border: none;
    background: var(--azul);
    color:var(--white);
}

/*=================================
            <!--Sobre-->
=================================*/

.tela_one_more_friend{
    height: 986px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.about_one{
    width: 1180px;
    height: 378px;
    border-radius: 2rem;
    overflow: hidden;
    background-image: url(image/Banner.svg);
    background-repeat: no-repeat;
    margin-top: 6rem;
    position: absolute;
}

.about_one::after{
    background: url(image/coelhinho2.png);
    content: '';
    width: 370px;
    height: 400px;
    position: absolute;
    background-repeat: no-repeat;
    background-size: 310px;
    margin-top: -35rem;
    right: 0;
    margin-right: 10rem;
}

.about_texts{
    margin-left: 6rem;
}

.about_cad{
    margin-left: 6rem;
}

.about_texts h1{
    font-size: 6.4rem;
    background-image: linear-gradient(to right, var(--bege_escuro), steelblue, rgb(49, 162, 150));
    color: black;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}

.about_texts h2{
    font-size: 3rem;
    background-image: linear-gradient(to right, var(--bege_escuro), steelblue, rgb(49, 162, 150));
    color: black;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}

.about_cad button:nth-child(1){
    background: transparent;
    border: 1px solid var(--bege_escuro);
    color: var(--bege_escuro);
    margin-right: 3rem;
}

.about_cad button:nth-child(2){
    border: none;
    background: var(--bege_escuro);
    color: var(--white);
}

/*=================================
        <!--Beneficios-->
=================================*/

.benefits_pet{
    margin-top: 50rem;
    text-align: center;
}

.benefits_pet_container h1{
    font-size: 4rem;
    color: var(--azul);
}

.benefits_cards_container{
    display: flex;
    gap: 9rem;
}

.cards{
    margin-top: 3rem;
    background-color: var(--bege);
    width: 25rem;
    height: 27rem;
    border-radius: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.cards picture img{
    width: 10rem;
}

.cards p{
    font-size: 12px;
    margin-top: 2rem;
}

.cards:hover, .cards picture img:hover, .cards p:hover{
    transform: scale(1.1);
}

.cards:hover{
    background: linear-gradient(270deg, #f7dba7, #ffa600, #ff0068);
    background-size: 600% 600%;

    -webkit-animation: AnimationName 6s ease infinite;
    -moz-animation: AnimationName 6s ease infinite;
    animation: AnimationName 6s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

/*=================================
        <!--Categoria-->
=================================*/

.category{
    height: 986px;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: var(--bege);
    border-radius: 4rem;
}

.category_textos{
    position: absolute;
    z-index: 300;
}

.category_textos h1{
    font-size: 8rem;
    color: var(--azul);
}

.category_textos h2{
    font-size: 2rem;
}

.category_container{
    width: 70rem;
    height: 43rem;
    overflow: hidden;
    border-radius: 15px;
    transition: all 0.4s;
    box-shadow: 2px 2px 10px 5px rgb(198, 198, 198);
    margin-top: 10rem;
    background: linear-gradient(270deg, #f7dba7, #dcd9d4, #faca72);
    background-size: 600% 600%;

    -webkit-animation: AnimationName 9s ease infinite;
    -moz-animation: AnimationName 9s ease infinite;
    animation: AnimationName 9s ease infinite;
    overflow: hidden;
}

.category_container::after{
    content: '';
    background-image: url(image/Rectangle\ 1.svg);
    height: 635px;
    content: '';
    background-repeat: no-repeat;
    z-index: 10;
    width: calc(1440px - 698px);
    display: flex;
    margin-top: -40rem;
    background-position:right;
    background-size: 400px;
}

/*=================================
        <!--Carousel-->
=================================*/

.carousel-inner{
    display: flex;
    width: 70rem;
}

.carousel-inner .item{
    width: 70rem;
    height: 43rem;
    display: flex;
    justify-content: center;
    padding: 0 23rem;
}

.carousel-inner div img{
    width: 30rem;
    margin-top: 7rem;
    height: 30rem;
    border-radius: 10px;
    z-index: 100;
}

.voltar, .proximo{
    position: absolute;
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-items: center;
    cursor: pointer;
    transition: all 0.4s;
    margin-top: -1px;
    z-index: 180;
    margin-top: 15rem;
}

.voltar:hover, .proximo:hover{
    transform: scale(1.5);
}

.voltar{
    margin-left: -10rem;
}

.proximo{
    margin-left: 70rem;
}

.voltar img, .proximo img{
    width: 8rem;
}

#atual{
    margin-left: 0;
    transition: all 2s;
}

.balls_carousel{
    position: absolute;
    width: 40rem;
    display: flex;
    justify-content: center;
}

.balls_carousel div{
    transition: all 0.5s;
    border: 2px solid var(--azul);
    border-radius: 100%;
    margin-right: 15px;
    cursor: pointer;
    padding: 6px;
    margin-top: 56rem;
    background: transparent;
}

.balls_carousel div:hover{
    background-color: var(--azul);
}

.imgAtual{
    background-color: var(--white);
    transition: all 5s;
}

.carousel_texts{
    position: absolute;
    margin-top: 62rem;
    width: 1000px;
    display: flex;
    height: 30rem;
    gap: 2rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.carousel_texts_container{
    background-color: var(--bege_escuro);
    width: 23rem;
    height: 10rem;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    color: #003459;
}

.dog_fundo{
    position: absolute;
    z-index: 160;
    margin-top: 27rem;
    margin-right: -60rem;
}

.osso_fundo {
    position: absolute;
    z-index: 160;
    margin-top: 4rem;
    margin-left: -67rem;
}

.osso_fundo img{
    width: 250px;
}

/*=================================
        <!--Footer-->
=================================*/

footer{
    height: 44rem;
    background: var(--bege_escuro);
    width: 100%;
    margin-top: 10rem;
    border-radius: 4rem 4rem 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer_container{
    height: 44rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footer_register{
    width: 118rem;
    height: 13.6rem;
    background: var(--azul);
    border-radius: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 3.2rem;
}

.footer_register h1{
    font-size: 2.4rem;
    color: var(--white);
    font-weight: 500;
}

.footer_register .footer_email{
    background: var(--white);
    width: 70.7rem;
    height: 7.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1.4rem;
    padding: 1.2rem;
    gap: 1.2rem;
}

.footer_email input{
    width: 50.8rem;
    height: 4.8rem;
    border-radius: 0.8rem;
    border: 1px solid gray;
    font-family: 'Poppins', sans-serif;
    font-size: 1.7rem;
    color: rgb(162, 161, 161);
    padding-left: 2rem;
}

.footer_email button{
    font-family: 'Poppins', sans-serif;
    width: 16.3rem;
    height: 4.8rem;
    background-color: var(--azul);
    border: none;
    cursor: pointer;
    border-radius: 0.8rem;
    font-size: 1.6rem;
    color: var(--white);
}

.pages_and_social{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin:4rem 0 4rem 0;
}

.pages a{
    font-size: 1.6rem;
    color: var(--azul);
    text-decoration: none;
    padding-right: 6rem;
}

.social a{
    padding-left: 6rem;
}

.social a svg{
    fill: var(--azul);
}

.social a svg{
    width: 2.4rem;
}

footer hr{
    border:none;
    background-color: var(--white);
    height: 1px;
    margin-bottom: 4rem;
}

.end{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.terms{
    display: flex;
    gap: 3rem;
}

.terms, .end p{
    font-size: 1.4rem;
    color: var(--white);
    font-weight: 300;
}

/*=================================
        <!--Dialog-->
=================================*/

dialog{
    background: transparent;
    width: 100%;
    height: 100%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

dialog::backdrop{
    background-color: rgb(0 0 0/ .3);
}

.dialog_container{
    background: var(--bege_escuro);
    width: 70rem;
    height: 40rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
}

.dialog_conteudo{
    width: 30rem;
    margin-right: -20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 5rem;
}

.dialog_conteudo form input{
    min-width: 26rem;
    border-left-style: none;
    border-right-style: none;
    border-top-style: none;
    border-bottom: 1px solid var(--azul);
    height: 4rem;
    padding-left: 2rem;
    color: var(--azul);
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    background: transparent;
}

.dialog_conteudo form input::placeholder{
    color: var(--white);
}

.dialog_conteudo h1{
    font-size: 3rem;
    background-image: linear-gradient(to right, #d0af74, steelblue, rgb(49, 162, 150));
    color: black;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}

.dialog_conteudo h2{
    color: var(--azul);
}

.dialog_container::before{
    content: '';
    background-image: url(image/cat.png);
    height: 380px;
    width: 375px;
    position: absolute;
    background-size: 250px;
    background-repeat: no-repeat;
    margin-left: -23rem;
    margin-top: 10rem;
}

form img{
    width: 20px;
    cursor: pointer;
    margin-left: 1rem;
}

.senha{
    display: flex;
    align-items: center;
}

.form_btns{
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    width: 20rem;
    justify-content: center;
}

.form_btns button, .form_btns2 button{
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}

.form_btns button:nth-child(1){
    min-width: 20rem;
    height: 3rem;
    border-radius: 5rem;
    border: none;
    background: var(--azul);
    color: var(--white);
}

.form_btns button:nth-child(2){
    border-left-style: none;
    border-right-style: none;
    border-top-style: none;
    border-bottom: 1px solid var(--azul);
    width: 18rem;
    background: transparent;
    font-size: 0.7rem;
    margin-top: -0.9rem;
}

.form_btns2{
    margin-top: 3rem;
    display: flex;
    width: 100%;
    justify-content: center;
    margin-left: 4rem;
    gap: 1rem;
}

.form_btns2 button{
    min-width: 13rem;
    height: 3rem;
    border: 1px solid var(--azul);
    border-radius: 2rem;
    background: transparent;
}